@import "../../Utils/Colors.scss";

.gis-room {
  height: calc(100% - 48px);
  overflow: auto;
  .messages-container {
    min-height: calc(100% - 128px);
    padding: 20px;
    .message-chip {
      margin-bottom: 10px;
    }
  }
  .message-input-container {
    background-color: $white;
    bottom: 0;
    max-height: 88px;
    position: sticky;
  }
}
